*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: #000;
  color: #fff;
  font-family: "Catamaran", sans-serif;
  font-size: 100%;
  line-height: 1.5;
  margin: 0 auto;
  max-width: 1200px;
}
body a {
  color: yellow;
  text-decoration: none;
}
body a:hover {
  text-decoration: underline;
}

section,
footer {
  padding: 20px 5%;
}
section h2,
footer h2 {
  display: inline-block;
  position: relative;
}
section h2:after,
footer h2:after {
  content: "";
  background: green;
  position: absolute;
  top: 100%;
  left: 0;
  height: 4px;
  width: 35%;
}
section h3,
footer h3 {
  font-size: 1.25rem;
  line-height: 1.2;
  margin-bottom: 16px;
  text-shadow: -1px 2px green;
}
section img,
footer img {
  border-radius: 5px;
}

header {
  padding-top: 40px;
  padding-bottom: 40px;
  position: relative;
  width: 100%;
}
@media (max-width: 425px) {
  header {
    padding-top: 20px;
    padding-bottom: 0;
  }
}
header:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
header h1,
header h2 {
  color: #fff;
  margin-top: 0;
  margin-bottom: 0;
  position: relative;
  z-index: 1;
}
header h1 {
  text-shadow: 0 4px green;
  font-size: 18vw;
  line-height: 1;
  text-align: center;
}
@media (min-width: 1201px) {
  header h1 {
    font-size: 216.18px;
  }
}
header h2 {
  color: yellow;
  float: right;
  margin-top: -1.4vw;
  margin-right: 5%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
@media (max-width: 425px) {
  header h2 {
    float: none;
    margin-right: 0;
    text-align: center;
  }
}

section {
  clear: both;
}
section h2, section h3 {
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin-top: 0;
}

#bio img {
  box-shadow: -4px 4px green;
  float: left;
  margin-right: 40px;
  margin-bottom: 20px;
  width: 250px;
}
@media (max-width: 600px) {
  #bio img {
    margin-right: 20px;
    margin-bottom: 10px;
    width: 50%;
  }
}
@media (max-width: 425px) {
  #bio img {
    box-shadow: 0 4px green;
    float: none;
    margin-right: 0;
    width: 100%;
  }
}
#bio p:first-of-type {
  margin-top: 0;
}
#bio p:last-of-type {
  margin-bottom: 0;
}
#bio i {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

#contact-info .contact-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}
#contact-info .contact-links li {
  padding-right: 10px;
  padding-bottom: 10px;
  white-space: nowrap;
}
#contact-info .contact-links li:last-of-type {
  padding-right: 0;
}
#contact-info .contact-links i {
  padding-right: 0.5em;
}

#skills .stack,
#projects .stack {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  margin-top: 16px;
  margin-left: -5px;
  padding: 0;
}
#skills .stack li,
#projects .stack li {
  background-color: #333;
  border-radius: 2px;
  color: #fff;
  font-size: 0.75em;
  font-weight: 300;
  margin: 5px;
  padding: 4px 7px 2px;
}

#projects article {
  background: #222;
  border-radius: 5px;
  padding: 40px;
  box-shadow: 4px 4px #444;
  margin-bottom: 40px;
  overflow: auto;
}
@media (max-width: 675px) {
  #projects article {
    padding: 20px;
  }
}
#projects article:nth-of-type(2n + 2) {
  box-shadow: -4px 4px #444;
}
#projects article:first-of-type {
  margin-top: 10px;
}
#projects article:last-of-type {
  margin-bottom: 0;
}
@media (min-width: 551px) {
  #projects .app-title {
    float: right;
    padding-left: 40px;
    width: 50%;
  }
}
#projects .app-image-container {
  float: left;
  max-width: 100%;
  width: 50%;
}
@media (max-width: 550px) {
  #projects .app-image-container {
    float: none;
    width: 100%;
  }
}
#projects .app-image {
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  box-shadow: 4px 4px #555;
  height: 0;
  width: 100%;
  padding-top: 75%;
}
@media (max-width: 550px) {
  #projects .app-image {
    box-shadow: none;
  }
}
#projects .app-image img {
  display: none;
}
#projects .app-info {
  float: right;
  padding-left: 40px;
  width: 50%;
}
@media (max-width: 550px) {
  #projects .app-info {
    float: none;
    padding-left: 0;
    padding-top: 20px;
    width: 100%;
  }
}
#projects .app-info > *:first-child {
  margin-top: 0;
}
#projects .links {
  display: flex;
  list-style: none;
  margin: 0;
  margin-right: 5px;
  padding: 0;
}
#projects .links li {
  margin-right: 20px;
}
#projects .links i {
  padding-right: 0.5em;
}
#projects h4 {
  margin-top: 40px;
  margin-bottom: 10px;
  text-align: right;
}
@media (max-width: 550px) {
  #projects h4 {
    margin-top: 20px;
  }
}

footer {
  padding-top: 0;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
